<div class="container">
    <h1 class="main-title">Commande #54 <span style="color:#a60000;">(En cours)</span></h1>

    <ul class="list-item">
        <li>
            <img src="../../assets/images/cards/1.png" alt="Image1">
            <p class="item-title">Charizard 120HP original</p>
            <ul class="item-right-menu">
                <li><label>Quantité</label></li>
                <li><input type="number" name="cart_quantity" value="1" min="1" max="10" disabled></li>
                <li><span class="item-price">x 3.99$</span></li>
            </ul>
        </li><li>
        <img src="../../assets/images/cards/1.png" alt="Image1">
        <p class="item-title">Charizard 120HP original</p>
        <ul class="item-right-menu">
            <li><label>Quantité</label></li>
            <li><input type="number" name="cart_quantity" value="1" min="1" max="10"disabled></li>
            <li><span class="item-price">x 3.99$</span></li>
        </ul>
    </li>
    </ul>

    <ul class="price-info">
        <li>Méthode de réception : Livraison</li>
        <li>Prénom : John</li>
        <li>Nom : Doe</li>
        <li>Adresse : 4469 rue Parc</li>
        <li>Appartement : </li>
        <li>Ville : Sherbrooke</li>
        <li>Pays : Canada</li>
        <li>Province : Quénec</li>
        <li>Code postal : J0B 2P0</li>
    </ul>


    <ul class="price-info">
        <li>Sous total : 7.98$</li>
        <li>TPS : 0.40$</li>
        <li>TVQ : 0.80$</li>
        <li>Livraison : 10$</li>
        <li class="price-info-total">Total : 19.18$</li>
    </ul>


    <div class="field" style="text-align:right;">
        <input routerLink="/admin/orderlist" type="submit" class="button button-green" value="Marquer comme traité">
    </div>

</div>
