<div class="container">


    <h1 class="main-title"><a routerLink="/cartes/{{categorie_name}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/></svg>
        Retour</a>{{card_name}}
    </h1>

    <img src="../../assets/images/cards/1.png" alt="">

    <ul class="button-right">
        <li>
            <button class="button-icon-texte"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"><path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
                <p>Ajouter au panier</p> <span>299.99$</span></button>
        </li>
        <li>
            <button style="background-color:#535150;" class="button-icon-texte"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                <p>Ajouter à la liste de souhait</p></button>
        </li>
    </ul>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur impedit minima, nesciunt officiis omnis reprehenderit sint suscipit. Accusamus blanditiis deserunt ducimus et ex fuga impedit molestiae nihil soluta voluptates.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore doloremque eius ipsam ipsum magni minima nam nihil vero? Aut, consequatur dolor eaque iste itaque maiores necessitatibus quasi veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ullam, voluptatibus. Aspernatur cum, ea eveniet explicabo facere minus quos saepe tenetur. Adipisci animi cum et incidunt laboriosam laborum natus, recusandae.
    </div>



    
</div>

