<div class="container">
    <h1 class="main-title">Liste des catégories</h1>

    <div class="field">
        <input routerLink="/admin/addcategorie" type="submit" class="button button-black" value="Ajouter une catégorie">
    </div>

    <ul class="list-commande-produit">
        <li routerLink="/admin/editcategorie/1">
            <p>Catégorie 1</p>
        </li>
    </ul>

    <ul class="list-commande-produit">
        <li routerLink="/admin/editcategorie/2">
            <p>Catégorie 2</p>
        </li>
    </ul>


</div>
