<div class="container">

    <h1 class="main-title">Choix de la catégorie</h1>
    <div class="card-list">
        <ul>
            <a routerLink="/cartes/cat1">
                <li>
                    <div class="card">
                        <img src="../../assets/images/cards/1.png" alt="">
                        <div class="card-title">
                            <p>cat1</p>
                        </div>
                    </div>
                </li>
            </a>


            <a routerLink="/cartes/cat1">
                <li>
                    <div class="card">
                        <img src="../../assets/images/cards/1.png" alt="">
                        <div class="card-title">
                            <p>cat1</p>
                        </div>
                    </div>
                </li>
            </a>

            <a routerLink="/cartes/cat1">
                <li>
                    <div class="card">
                        <img src="../../assets/images/cards/1.png" alt="">
                        <div class="card-title">
                            <p>cat1</p>
                        </div>
                    </div>
                </li>
            </a>

            <a routerLink="/cartes/cat1">
                <li>
                    <div class="card">
                        <img src="../../assets/images/cards/1.png" alt="">
                        <div class="card-title">
                            <p>cat1</p>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>

