<div class="container">
<div class="container-login-signup">
        <h1>Connexion</h1>

        <form action="">
            <div class="field">
                <label for="login_email">Adresse courriel</label>
                <input type="email" name="login_email" id="login_email">
            </div>

            <div class="field">
                <label for="login_password">Mot de passe </label><a routerLink="/forgetpassword" class="forget-password-link">Mot de passe oublié?</a>
                <input type="password" name="login_password" id="login_password">
            </div>

            <div class="field" style="margin:35px 0;">
                <input type="submit" class="button button-large" value="Connexion" id="login_button" name="login_button">
            </div>

                <a routerLink="/inscription">Me créer un compte</a>
        </form>
    </div>

</div>
