<div class="container">
    <h1 class="main-title">Contactez-nous</h1>

    <form action="">
        <div class="field">
            <label for="contact_name">Votre nom</label>
            <input type="text" name="contact_name" id="contact_name">
        </div>

        <div class="field">
            <label for="contact_name">Votre adresse courriel</label>
            <input type="email" name="contact_name" id="contact_email">
        </div>

        <div class="field">
            <label for="contact_name">Votre message</label>
            <textarea type="text" name="contact_name" id="contact_message"></textarea>
        </div>

        <div class="field">
            <input type="submit" class="button" value="Envoyer">
        </div>
    </form>

</div>
