<div class="container">
    <h1 class="main-title">Modifier un produit</h1>

    <form action="">
        <div class="field">
            <label for="product_title">Titre du produit</label>
            <input type="text" name="product_title" id="product_title">
        </div>

        <div class="field">
            <label for="product_description">Desciption du produit</label>
            <textarea type="text" name="product_description" id="product_description"></textarea>
        </div>

        <div class="field">
            <label for="product_categorie">Categorie</label>
            <select name="cars" id="cars">
                <option value="cat1">Categorie1</option>
                <option value="cat2">Categorie2</option>
                <option value="cat3">Categorie3</option>
                <option value="cat4">Categorie4</option>
            </select>
        </div>

        <div class="field">
            <label for="product_price">Prix</label>
            <input type="number" min="1" step="any" name="product_price" id="product_price" />
        </div>


        <div class="field">
            <input type="submit" class="button" value="Modifier">
        </div>
    </form>

</div>