<div class="container">
    <h1 class="main-title">Votre panier</h1>

    <ul class="list-item">
        <li>
        <img src="../../assets/images/cards/1.png" alt="Image1">
        <p class="item-title">Charizard 120HP original</p>
        <ul class="item-right-menu">
            <li><label>Quantité</label></li>
            <li><input type="number" name="cart_quantity" value="1" min="1" max="10"></li>
            <li><span class="item-price">x 3.99$</span></li>
            <li><button class="item-remove">Retirer</button></li>
        </ul>
    </li><li>
        <img src="../../assets/images/cards/1.png" alt="Image1">
        <p class="item-title">Charizard 120HP original</p>
        <ul class="item-right-menu">
            <li><label>Quantité</label></li>
            <li><input type="number" name="cart_quantity" value="1" min="1" max="10"></li>
            <li><span class="item-price">x 3.99$</span></li>
            <li><button class="item-remove">Retirer</button></li>
        </ul>
    </li>
    </ul>

    <ul class="price-info">
        <li>Sous total : 7.98$</li>
        <li>TPS : 0.40$</li>
        <li>TVQ : 0.80$</li>
        <li class="price-info-total">Total : 9.18$</li>
    </ul>
    <div class="field">
        <input routerLink="/detail-commande" type="submit" class="button button-black" value="Choisir la méthode de réception">
    </div>

</div>
