<div class="container">
    <h1 class="main-title">Liste des produits</h1>

    <div class="field">
        <input routerLink="/admin/addproduct" type="submit" class="button button-black" value="Ajouter un produit">
    </div>

    <!--<div class="field">
        <input type="text" placeholder="Rechercher un produit">
    </div>-->
    <ul class="list-commande-produit">
        <li routerLink="/admin/editproduct/1">
            <p>Produit 1</p><p>Catégorie1</p>
        </li>
    </ul>

    <ul class="list-commande-produit">
         <li routerLink="/admin/editproduct/2">
            <p>Produit 2</p><p>Catégorie1</p>
        </li>
    </ul>


</div>
