<div class="container" style="width:50%;">
    <h1 class="main-title">Modifier le profil</h1>

    <form action="">
        <div class="field">
            <label for="profil_name">Prénom</label>
            <input type="text" name="profil_name" id="profil_name">
        </div>

        <div class="field">
            <label for="profil_lastname">Nom</label>
            <input type="text" name="profil_lastname" id="profil_lastname">
        </div>

        <div class="field">
            <label for="profil_adresse">Adresse</label>
            <input type="text" name="profil_adresse" id="profil_adresse">
        </div>

        <div class="field">
            <label for="profil_appnumber">Appartement, suite, etc (optionnel)</label>
            <input type="text" name="profil_appnumber" id="profil_appnumber">
        </div>

        <div class="field">
            <label for="profil_city">Ville</label>
            <input type="text" name="profil_city" id="profil_city">
        </div>

        <div class="field">
            <label for="profil_postalcode">Code postal</label>
            <input type="text" name="profil_postalcode" id="profil_postalcode">
        </div>

        <div class="field">
            <input class="button button-black" type="submit" value="Sauvegarder">
        </div>
    </form>

</div>
