<div class="container">
    <div class="container-login-signup">
        <h1>Inscription</h1>

        <form action="">
            <div class="field">
                <label for="signup_email">Adresse courriel</label>
                <input type="email" name="signup_email" id="signup_email">
            </div>

            <div class="field">
                <label for="signup_password">Mot de passe </label>
                <input type="password" name="signup_password" id="signup_password">
            </div>

            <div class="field">
                <label for="signup_password_repeat">Répéter le mot de passe </label>
                <input type="password" name="signup_password_repeat" id="signup_password_repeat">
            </div>

            <div class="field" style="margin:35px 0;">
                <input type="submit" class="button button-large" value="S'inscrire" id="signup_button" name="signup_button">
            </div>

            <a routerLink="/connexion">Déjà un compte? Se connecter</a>
        </form>
    </div>

</div>
